/vendor
/node_modules
/.env
/.env.*
!/.env.example
/.setup
/public/hot
/public/build
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.phpunit.cache
/.phpunit.result.cache
/auth.json
/compose.override.yaml

/backups
/test-results
/playwright-report
